
.mynavbar {
    background-color: #302f2f !important; 
    color: aquamarine !important; 
}

.mynavbar .nav-link {
    color: rgb(253, 253, 253) !important;
}


.container {
    height: 50px; 
}

.CARTlogo{
    padding-left: 20px;
}